extends layout

block content
  h1 Arquivo de Música Digital
  .w3-container
    table.w3-table
      tr
        th ID
        th Título
        th No. Partituras
      each o in obras
        tr
            td
              a(href="http://localhost:7024/single/"+o.id)= o.id
            td= o.tit
            td= o.nparts
            